{% comment %}
Heroicons Outline Primitives (MIT Licensed, square-corner aligned)
Usage: {% include "components/icons.html" with icon="check" size="16" %}
Parameters:
  - icon: 'check' | 'clock' | 'exclamation' | 'chevron-down' | 'arrow-path' | 'x-mark' | 'magnifying-glass'
  - size: SVG size in pixels (default 20)
  - class: Optional extra CSS classes
{% endcomment %}
{% with s=size|default:"20" %}
<svg xmlns="http://www.w3.org/2000/svg"
     fill="none"
     viewBox="0 0 24 24"
     stroke-width="1.5"
     stroke="currentColor"
     width="{{ s }}"
     height="{{ s }}"
     class="{{ class|default:'' }}"
     style="display: inline-block; vertical-align: middle;">
  {% if icon == 'check' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
  {% elif icon == 'clock' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
  {% elif icon == 'exclamation' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
  {% elif icon == 'chevron-down' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
  {% elif icon == 'arrow-path' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
  {% elif icon == 'x-mark' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
  {% elif icon == 'magnifying-glass' %}
    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
  {% else %}
    <circle cx="12" cy="12" r="9" />
  {% endif %}
</svg>
{% endwith %}
